<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="\images\logo.png" alt="Logo" width="200px" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/mealkits/on-the-menu">On the Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      <div class="d-flex flex-column flex-lg-row align-items-center">
        <% if (typeof user === "undefined") { %>
        <a class="link-btn1" href="/log-in">Login</a>
        <a class="link-btn2" href="/sign-up">Register</a>
        <% } else { %>
        <p style="min-width: 250px; margin: 0px">
          <% if(role === "clerk") { %>
          <a class="nav-link" href="/mealkits/list"
            >Welcome back, <%= user.fName%>!</a
          >
          <% } else { %>
          <a class="nav-link" href="/cart">Welcome back, <%= user.fName%>!</a>
          <% } %>
        </p>
        <a class="link-btn1" href="/log-out">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
