<h1>About</h1>
<div class="m-5">
  <p>
    This website is a mock project created for portfolio and educational
    purposes. The business, services, and products featured here are fictional
    and not available for actual use or purchase.
  </p>
  <p>
    For testing purposes, please use the login below for testing the
    functionality of the Admin user and Customer.
  </p>
  <p>Username: test@test.com</p>
  <p>Password: Password1!</p>
</div>
